.caption-container{
    background-color: #dc6226;
    width: 700px;
    margin-bottom: -20px;
    margin-left: auto;
    margin-right: auto;
}
 
.carousel-caption {
    padding-top: 10px;
    padding-bottom: 10px;
}